  <!DOCTYPE html>
    <html lang="en">

    <!-- Mirrored from demo.suavedigital.com/jukebox/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Apr 2019 15:38:05 GMT -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Jukebox - Responsive Music and Band Website Template">
        <link rel="icon" href="~/Content/JukeBox/images/favicon.png">

        <title>Jukebox - Home</title>
        <!-- Bootstrap -->
        <link href="~/Content/JukeBox/stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Stylesheets -->
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <!-- JQuery -->
        <script src="~/Content/JukeBox/javascripts/jquery.min.js"></script>
        <!-- jpreloader -->
        <link href="~/Content/JukeBox/javascripts/jpreloader/jpreloader.css" rel="stylesheet">
        <script src="~/Content/JukeBox/javascripts/jpreloader/jpreloader.min.js"></script>
        <!-- font-awesome.css -->
        <link href="~/Content/JukeBox/stylesheets/css/fontawesome/font-awesome.css" rel="stylesheet">
        <!-- animate.css -->
        <link href="~/Content/JukeBox/stylesheets/css/animate.css" rel="stylesheet">

        <!-- Jplayer -->
        <link href="~/Content/JukeBox/javascripts/jplayer/skin/jukebox/css/jplayer.jukebox.css" rel="stylesheet" type="text/css" />
        <!-- Fancybox -->
        <link href="~/Content/JukeBox/javascripts/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
        <!-- Owl Carousel -->
        <link href="~/Content/JukeBox/javascripts/owl.carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/JukeBox/javascripts/owl.carousel/owl.theme.css" rel="stylesheet" type="text/css" />

        <!-- User Defined Style -->
        <link href="~/Content/JukeBox/stylesheets/css/style.css" rel="stylesheet">
        <link href="~/Content/JukeBox/stylesheets/css/responsive.css" rel="stylesheet">
    </head>
    <body>
        <!-- Splash Screen Begin -->
        <div id="jSplash" class="preloader">
            <div id="loader">
                <div class="shape-wrap">
                    <div class="shape">
                        <h2>Loading</h2>
                    </div>
                </div>
                <div id="fadingBarsG">
                    <div id="fadingBarsG_1" class="fadingBarsG">
                    </div>
                    <div id="fadingBarsG_2" class="fadingBarsG">
                    </div>
                    <div id="fadingBarsG_3" class="fadingBarsG">
                    </div>
                    <div id="fadingBarsG_4" class="fadingBarsG">
                    </div>
                    <div id="fadingBarsG_5" class="fadingBarsG">
                    </div>
                    <div id="fadingBarsG_6" class="fadingBarsG">
                    </div>
                    <div id="fadingBarsG_7" class="fadingBarsG">
                    </div>
                    <div id="fadingBarsG_8" class="fadingBarsG">
                    </div>
                </div>
            </div>
        </div>
        <!-- Splash Screen End -->
        <!-- Banner Begin -->
        <section class="banner">
            <div id="banner-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active" style="background-image: url(../Content/JukeBox/images/banner1.jpg); background-size:cover;">
                       
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="content-wrap">
                                <div class="content">
                                    <div class="textwrap">
                                        <div class="subtitle top animated fadeIn wow" data-wow-delay="0.5s">
                                            <h2>Introducing</h2>
                                        </div>
                                        <div class="title animated fadeIn wow" data-wow-delay="1s">
                                            <h1>Optimal <span class="light">Music  </span></h1>
                                        </div>
                                        <div class="subtitle animated fadeIn wow" data-wow-delay="1.5s">
                                            <h1>Welcome to the first music website that delivers every 
                                             musical needs you have.</h1>
                                        </div>
                                    </div><!--/.textwrap -->
                                </div><!--/.content -->
                            </div><!--/.content-wrap -->
                        </div><!--/.container -->
                    </div><!--/.item -->
                    <div class="item" style="background-image: url(../Content/JukeBox/images/banner2.jpg); background-size:cover;">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="content-wrap">
                                <div class="content">
                                    <div class="textwrap">
                                        <div class="subtitle top animated fadeIn wow" data-wow-delay="0.5s">
                                            <h2>OUR PASSION</h2>
                                        </div>
                                        <div class="title animated fadeIn wow" data-wow-delay="1s">
                                            <h1>Optimal <span class="light">Music  </span></h1>
                                        </div>
                                        <div class="subtitle animated fadeIn wow" data-wow-delay="1.5s">
                                            <h1>Quality is our first name and we are passionate about your needs.</h1>
                                        </div>
                                    </div><!--/.textwrap -->
                                </div><!--/.content -->
                            </div><!--/.content-wrap -->
                        </div><!--/.container -->
                    </div><!--/.item -->
                    <div class="item" style="background-image: url(../Content/JukeBox/images/banner2.jpg); background-size:cover;">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="content-wrap">
                                <div class="content">
                                    <div class="textwrap">
                                        <div class="subtitle top animated fadeIn wow" data-wow-delay="0.5s">
                                        </div>
                                        <div class="title animated fadeIn wow" data-wow-delay="1s">
                                            <h1>Optimal <span class="light">Music  </span></h1>
                                        </div>
                                            <h2>OUR SERVICES</h2>
                                        
                                        <div class="subtitle animated fadeIn wow" data-wow-delay="1.5s">
                                            <h2><b/>CREATES JINGLES, INTROS, OUTROS, CUSTOMIZED SONGS,<br/>
                                             PARODY, ORIGINAL MUSIC E.T.C.</h2>
                                        </div>
                                    </div><!--/.textwrap -->
                                </div><!--/.content -->
                            </div><!--/.content-wrap -->
                        </div><!--/.container -->
                    </div><!--/.item -->
                </div><!--/.carousel-inner -->
                <!-- Controls -->
                <a class="left carousel-control" href="#banner-carousel" role="button" data-slide="prev">
                    <div class="control left">
                        <div class="shape"><i class="fa fa-angle-left"></i></div>
                    </div>
                </a>
                <a class="right carousel-control" href="#banner-carousel" role="button" data-slide="next">
                    <div class="control right">
                        <div class="shape"><i class="fa fa-angle-right"></i></div>
                    </div>
                </a>
                <div class="scroll-info">
                    <a href="#home-nav">
                        <div class="shape">
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </a>
                </div><!--/.scroll-info -->

            </div><!--/.bacnner-carousel -->
            <!-- Jplayer Single Layout Begin -->
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                <div class="jp-type-single">
                    <div class="jp-gui jp-interface">
                        <div class="container">
                            <div class="jp-details">
                                <div class="jp-title" aria-label="title">&nbsp;</div>
                            </div>
                            <div class="jp-controls">
                                <button class="jp-play" role="button" tabindex="0">play</button>
                                <button class="jp-stop" role="button" tabindex="0">stop</button>
                            </div>
                            <div class="jp-progress">
                                <div class="jp-seek-bar">
                                    <div class="jp-play-bar"></div>
                                </div>
                            </div>
                            <div class="jp-volume-controls">
                                <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value"></div>
                                </div>
                                <button class="jp-mute" role="button" tabindex="0">mute</button>
                            </div>
                            <div class="jp-time-holder">
                                <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                            </div>
                        </div>
                    </div><!-- /.jp-gui -->
                    <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                </div><!-- /.jp-type-single -->
            </div><!-- /.jp-audio -->
            <!-- Jplayer Single Layout End -->
        </section><!-- /.banner -->
        <!-- Banner End -->
        <!-- Navbar Begin -->
        <nav class="navbar fixonscroll solidnavbar navbar-inverse" role="navigation" id="home-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="~/Content/JukeBox/images/logo-dark.png" alt="Jukebox Logo"></a>
                </div><!-- /.navbar-header -->
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index-2.html">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="event-list.html">
                                Music <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu animated fadeIn" role="menu">
                                <li><a href="event-list.html">Pop Music</a></li>
                                <li><a href="event-single.html">Country Music</a></li>
                                <li><a href="event-single.html">Trap Music</a></li>
                                <li><a href="event-single.html">EDM Music</a></li>
                            </ul>
                        </li><!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="album-3columns.html">
                                EP'S <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu animated fadeIn" role="menu">
                                <li><a href="album-3columns.html">Optimal 1 </a></li>
                                <li><a href="album-3columns-filter.html">Optimal 2 </a></li>
                                <li><a href="album-4columns.html">Optimal 3</a></li>
                                <li><a href="album-4columns-filter.html">Optimal 4</a></li>
                                <li><a href="album-single.html">Optimal 5 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="brand"><img src="~/Content/JukeBox/images/logo-dark.png" alt="Jukebox Logo"></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="gallery-3columns.html">
                                Gallery <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu animated fadeIn" role="menu">
                                <li><a href="gallery-3columns.html">Studio's</a></li>
                                <li><a href="gallery-3columns-filter.html">Lifestyle</a></li>
                                <li><a href="gallery-4columns-filter.html">Electronics</a></li>
                            </ul>
                        </li><!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="blog-right-sidebar.html">
                                Testimonies <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu animated fadeIn" role="menu">
                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-masonry-left-sidebar.html">Blog Masonry Left Sidebar</a></li>
                                <li><a href="blog-masonry-right-sidebar.html">Blog Masonry Right Sidebar</a></li>
                                <li><a href="blog-3columns-masonry.html">Blog 3 Columns Masonry</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li><!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="about.html">
                                More <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu animated fadeIn" role="menu">
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="error-404.html">404 Page</a></li>
                            </ul>
                        </li><!-- /.dropdown -->
                    </ul><!-- /.nav -->
                </div><!--/.nav-collapse -->
            </div><!--/.container -->
        </nav><!--/.navbar -->
        <!-- Navbar End -->
        @RenderBody()
        <hr />
        <!-- Footer Begin-->
        <footer class="footer">
            <div class="container">
                <div class="col-md-4 col-sm-4 footer-row">
                    <div class="title"><h4>About Our Band</h4></div>
                    <div class="content">
                        <div class="text">
                            <p>Fusce sed nibh porttitor, scelerisque elit id, pretium justo. Integer venenatis tempus nisi non varius. Sed dui enim, lobortis et tempor.</p>
                            <p>Fusce sed nibh porttitor, scelerisque elit id, pretium justo. Integer venenatis tempus nisi non varius. Sed dui enim, lobortis et tempor.</p>
                        </div><!-- /.content -->
                    </div><!-- /.text -->
                    <div class="title"><h4>Keep Connected</h4></div>
                    <p>Connect With Our Social Media.</p>
                    <div class="content">
                        <div class="socmed-wrap">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-soundcloud"></i></a>
                        </div><!-- /.socmed-wrap -->
                    </div><!-- /.content -->
                </div><!-- /.footer-row -->
                <div class="col-md-4 col-sm-4 footer-row">
                    <div class="title"><h4>Upcoming Events</h4></div>
                    <div class="content">
                        <ul class="upcoming-event">
                            <li>
                                <div class="col-md-1 col-sm-1 col-xs-1 date"><span class="number">20</span><br />Oct</div>
                                <div class="col-md-10 col-sm-10 col-xs-10 name">New Sound Wave - Camp Nou Stadium <br /> <a href="#" class="buy">Buy Ticket</a></div>
                            </li>
                            <li>
                                <div class="col-md-1 col-sm-1 col-xs-1 date"><span class="number">21</span><br />Sep</div>
                                <div class="col-md-10 col-sm-10 col-xs-10 name">Glory Sound - Brigif Kujang 15 <br /> <a href="#" class="buy">Buy Ticket</a></div>
                            </li>
                            <li>
                                <div class="col-md-1 col-sm-1 col-xs-1 date"><span class="number">10</span><br />Nov</div>
                                <div class="col-md-10 col-sm-10 col-xs-10 name">Bandung Berisik - Lanud Sulaeman <br /> <a href="#" class="buy">Buy Ticket</a></div>
                            </li>
                            <li>
                                <div class="col-md-1 col-sm-1 col-xs-1 date"><span class="number">17</span><br />Dec</div>
                                <div class="col-md-10 col-sm-10 col-xs-10 name">Hammersonic - Gasibu Stadium<br /> <a href="#" class="buy">Buy Ticket</a></div>
                            </li>
                        </ul><!-- /.upcoming-event -->
                    </div><!-- /.content -->
                </div><!-- /.footer-row -->
                <div class="col-md-4 col-sm-4 footer-row">
                    <div class="title"><h4>Instagram</h4></div>
                    <div class="content">
                        <div class="content footer-images">
                            <a class="fancybox" href="~/Content/JukeBox/images/footer-image1.jpg" data-fancybox-group="gallery">
                                <div class="image"><img src="~/Content/JukeBox/images/footer-image1.jpg" alt="footer image"></div>
                            </a>
                          
                            <a class="fancybox" href="~/Content/JukeBox/images/footer-image2.jpg" data-fancybox-group="gallery">
                                <div class="image"><img src="~/Content/JukeBox/images/footer-image2.jpg" alt="footer image"></div>
                            </a>
                            <a class="fancybox" href="~/Content/JukeBox/images/footer-image3.jpg" data-fancybox-group="gallery">
                                <div class="image"><img src="~/Content/JukeBox/images/footer-image3.jpg" alt="footer image"></div>
                            </a>
                            <a class="fancybox" href="~/Content/JukeBox/images/footer-image4.jpg" data-fancybox-group="gallery">
                                <div class="image"><img src="~/Content/JukeBox/images/footer-image4.jpg" alt="footer image"></div>
                            </a>
                        </div><!-- /.footer-images -->
                    </div><!-- /.content -->
                    <div class="title"><h4>Tag cloud</h4></div>
                    <div class="content">
                        <div class="tag-wrap">
                            <a href="#" class="tag">Music</a>
                            <a href="#" class="tag">Band</a>
                            <a href="#" class="tag">Rock</a>
                            <a href="#" class="tag">Distortion</a>
                            <a href="#" class="tag">Guitar</a>
                            <a href="#" class="tag">Drum</a>
                            <a href="#" class="tag">Bass</a>
                            <a href="#" class="tag">Jukebox</a>
                            <a href="#" class="tag">Hard</a>
                            <a href="#" class="tag">Metal</a>
                            <a href="#" class="tag">Hardcore</a>
                            <a href="#" class="tag">Punk</a>
                            <a href="#" class="tag">Scream</a>
                            <a href="#" class="tag">Shout</a>
                            <a href="#" class="tag">Progressive</a>
                            <a href="#" class="tag">Fast</a>
                            <a href="#" class="tag">Pop</a>
                        </div><!-- /.tag-wrap -->
                    </div><!-- /.content -->
                </div><!-- /.foooter-row -->
            </div><!-- /.container -->
        </footer><!-- /.footer -->
        <!-- Footer End-->
        <section class="copyright">
            <div class="container">
                <p>&copy; <a class="orange" href="http://themeforest.net/item/jukebox-responsive-music-and-band-template/10169985?ref=suavedigital">Jukebox 2015.</a> All Right Reserved</p>
            </div>
        </section>

        <!-- Javascript Plugins -->
        <script src="~/Content/JukeBox/javascripts/bootstrap.min.js"></script>
        <script src="~/Content/JukeBox/javascripts/jplayer/jquery.jplayer.min.js"></script>
        <script src="~/Content/JukeBox/javascripts/jplayer/add-on/jplayer.playlist.min.js"></script>
        <script src="~/Content/JukeBox/javascripts/wow/wow.min.js"></script>
        <script src="~/Content/JukeBox/javascripts/modernizr.js"></script>
        <script src="~/Content/JukeBox/javascripts/jquery.hoverdir.js"></script>
        <script src="~/Content/JukeBox/javascripts/jquery.easing.js"></script>
        <script src="~/Content/JukeBox/javascripts/sly.min.js"></script>
        <script src="~/Content/JukeBox/javascripts/jquery.parallax-1.1.3.js"></script>
        <script src="~/Content/JukeBox/javascripts/owl.carousel/owl.carousel.min.js"></script>
        <script src="~/Content/JukeBox/javascripts/fancybox/jquery.fancybox.pack.js"></script>
        <script src="~/Content/JukeBox/javascripts/isotope.pkgd.min.js"></script>
        <script src="~/Content/JukeBox/javascripts/masonry.pkgd.min.js"></script>
        <script type="text/javascript">
      //  Jplayer (Media Player) Banner Player Custom

      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            title: "Bubble",
            mp3: "http://jplayer.org/audio/mp3/Miaow-07-Bubble.mp3"
          });
        },
        swfPath: "jplayer",
        supplied: "mp3",
        wmode: "window",
        useStateClassSkin: true,
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true
      });

      //  Jplayer (Media Player) Discography Player Custom
      new jPlayerPlaylist({
        jPlayer: "#jquery_jplayer_2",
        cssSelectorAncestor: "#jp_container_2"
      }, [
        {
          title:"Cro Magnon Man",
          mp3:"http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
          oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
        },
        {
          title:"Your Face",
          mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
          oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg"
        },
        {
          title:"Cyber Sonnet",
          mp3:"http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3",
          oga:"http://www.jplayer.org/audio/ogg/TSP-07-Cybersonnet.ogg"
        },
        {
          title:"Tempered Song",
          mp3:"http://www.jplayer.org/audio/mp3/Miaow-01-Tempered-song.mp3",
          oga:"http://www.jplayer.org/audio/ogg/Miaow-01-Tempered-song.ogg"
        },
        {
          title:"Hidden",
          mp3:"http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3",
          oga:"http://www.jplayer.org/audio/ogg/Miaow-02-Hidden.ogg"
        },
        {
          title:"Lentement",
          free:true,
          mp3:"http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3",
          oga:"http://www.jplayer.org/audio/ogg/Miaow-03-Lentement.ogg"
        },
        {
          title:"Lismore",
          mp3:"http://www.jplayer.org/audio/mp3/Miaow-04-Lismore.mp3",
          oga:"http://www.jplayer.org/audio/ogg/Miaow-04-Lismore.ogg"
        },
        {
          title:"The Separation",
          mp3:"http://www.jplayer.org/audio/mp3/Miaow-05-The-separation.mp3",
          oga:"http://www.jplayer.org/audio/ogg/Miaow-05-The-separation.ogg"
        }
      ], {
        swfPath: "jplayer",
        supplied: "oga, mp3",
        wmode: "window",
        useStateClassSkin: true,
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true
      });
        </script>

        <!-- Jukebox javascript customs and settings -->
        <script src="~/Content/JukeBox/javascripts/custom.js"></script>
    </body>
    <!-- Mirrored from demo.suavedigital.com/jukebox/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Apr 2019 15:40:04 GMT -->
</html>
