<!-- Latest Album Begin -->
<section class="latest-album">
    <div class="container">
        <div class="col-md-3 col-sm-3 intro-wrap">
            <div class="intro wow animated fadeIn" data-wow-delay="0.3s">
                <h3>Latest Releases</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae lectus ac erat dapibus lobortis. Sed fermentum, ante quis mollis fringilla, augue sapien volutpat dolor, sit amet condimentum orci risus id purus.</p>
                <a href="album-3columns-filter.html"><div class="def-button">View All</div></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 album-card-wrap wow animated fadeIn" data-wow-delay="0.2s">
            <div class="album-card">
                <div class="image hoverdir-target">
                    <img src="~/Content/JukeBox/images/album1.jpg" alt="image">
                    <div class="overlay">
                        <div class="buy-wrapper">
                            <div class="buy">
                                <a class="link" href="album-single.html">
                                    <span><strong class="bold">View</strong><br />Tracks</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text">
                    <a href="album-single.html"><div class="title"><h4>I Am Totally Free</h4></div></a>
                    <div class="genre"><span>Acoustic</span></div>
                    <div class="tracks"><span><i class="fa fa-music"></i> 12</span></div>
                </div>
            </div><!-- /.album-card -->
        </div><!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-3 album-card-wrap wow animated fadeIn" data-wow-delay="0.4s">
            <div class="album-card">
                <div class="image hoverdir-target">
                    <img src="~/Content/JukeBox/images/album2.jpg" alt="album image">
                    <div class="overlay">
                        <div class="buy-wrapper">
                            <div class="buy">
                                <a class="link" href="album-single.html">
                                    <span><strong class="bold">View</strong><br />Tracks</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text">
                    <a href="album-single.html"><div class="title"><h4>Danger Ranger</h4></div></a>
                    <div class="genre"><span>Rock &amp; Roll</span></div>
                    <div class="tracks"><span><i class="fa fa-music"></i> 10</span></div>
                </div>
            </div><!-- /.album-card -->
        </div><!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-3 album-card-wrap wow animated fadeIn" data-wow-delay="0.6s">
            <div class="album-card">
                <div class="image hoverdir-target">
                    <img src="~/Content/JukeBox/images/album3.jpg" alt="image">
                    <div class="overlay">
                        <div class="buy-wrapper">
                            <div class="buy">
                                <a class="link" href="album-single.html">
                                    <span><strong class="bold">View</strong><br />Tracks</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text">
                    <a href="album-single.html"><div class="title"><h4>Homogenic</h4></div></a>
                    <div class="genre"><span>Alternative</span></div>
                    <div class="tracks"><span><i class="fa fa-music"></i> 11</span></div>
                </div>
            </div><!-- /.album-card -->
        </div><!-- /.col-md-3 -->
    </div><!-- /.container -->
</section><!-- /.latest-album -->
<!-- Latest Album End -->
<!-- Schedule Begin -->
<section class="schedule">
    <div class="overlay"></div>
    <div class="container content">
        <div class="col-md-12 title wow animated fadeIn" data-wow-delay="0.3s"><h2>Upcoming Events</h2></div>
        <div class="col-md-12">

            <div class="schedrow wow animated fadeIn">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>New Sound Wave</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>Camp Nou Stadium </span> / 12 August 2014
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$175</span> / 0 Available
                </div>
                <div class="button-wrap"><a href="http://themeforest.net/item/jukebox-responsive-music-and-band-template/10169985?ref=suavedigital" class="def-button soldout" target="_blank">Sold Out</a></div>
            </div><!-- /.schedrow -->
            <div class="schedrow wow animated fadeIn">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>Hammersonic</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>Istora Senayan </span> / 12 October 2015
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$200</span> / 15 Available
                </div>
                <div class="button-wrap"><a href="http://themeforest.net/item/jukebox-responsive-music-and-band-template/10169985?ref=suavedigital" class="def-button" target="_blank">Buy Ticket</a></div>
            </div><!-- /.schedrow -->
            <div class="schedrow wow animated fadeIn">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>Bandung Berisik</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>Brigif Kujang 15</span> / 28 August 2015
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$250</span> / 100 Available
                </div>
                <div class="button-wrap"><a href="http://themeforest.net/item/jukebox-responsive-music-and-band-template/10169985?ref=suavedigital" class="def-button" target="_blank">Buy Ticket</a></div>
            </div><!-- /.schedrow -->
            <div class="schedrow wow animated fadeIn">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>Hellprint Festival</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>Lanud Sulaeman </span> / 17 September 2015
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$150</span> / 0 Available
                </div>
                <div class="button-wrap"><a href="http://themeforest.net/item/jukebox-responsive-music-and-band-template/10169985?ref=suavedigital" class="def-button soldout" target="_blank">Cancelled</a></div>
            </div><!-- /.schedrow -->
            <div class="schedrow wow animated fadeIn">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>Indie Ground</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>Plaza Parahyangan </span> / 12 August 2014
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$50</span> / 5 Available
                </div>
                <div class="button-wrap"><a href="http://themeforest.net/item/jukebox-responsive-music-and-band-template/10169985?ref=suavedigital" class="def-button" target="_blank">Buy Ticket</a></div>
            </div><!-- /.schedrow -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.container -->
</section><!-- /.schedule -->
<!-- Schedule End -->
<!-- About Begin -->
<section class="about">
    <div class="container">
        <div class="col-md-6 col-sm-6">
            <div class="personnel wow animated fadeIn" data-wow-delay="0.2s">
                <div class="title">
                    <h3>
                        All About <br />
                        <span class="bold orange">Our Band</span>
                    </h3>
                </div>
                <div class="personnel-list">
                    <div class="shape photo item" style="background: url(../Content/JukeBox/images/personnel1.jpg);">
                        <a href="about.html" class="overlay">
                            <div class="name">
                                Johnny Doe
                            </div>
                        </a>
                    </div><!-- /.photo -->
                    <div class="shape photo item" style="background: url(../Content/JukeBox/images/personnel2.jpg);">
                        <a href="about.html" class="overlay">
                            <div class="name">
                                Collins
                            </div>
                        </a>
                    </div><!-- /.photo -->
                    <div class="shape photo item" style="background: url(../Content/JukeBox/images/personnel3.jpg);">
                        <a href="about.html" class="overlay">
                            <div class="name">
                                Daniel Davids
                            </div>
                        </a>
                    </div><!-- /.photo -->
                    <div class="shape photo item" style="background: url(../Content/JukeBox/images/personnel4.jpg);">
                        <a href="about.html" class="overlay">
                            <div class="name">
                                Tiffany
                            </div>
                        </a>
                    </div><!-- /.photo -->
                </div><!-- /.personnel-list -->
                <div class="text">
                    <p>Cras viverra consequat massa eu pulvinar. Suspendisse porta sem ac erat euismod mollis. Donec sit amet sapien id lacus accumsan gravida. Phasellus in sagittis erat, a dictum diam. Donec in dui odio. Vivamus non facilisis nulla. In turpis dolor, dapibus ut lacus.</p>
                    <p>Nunc porta augue ut dolor faucibus tempus. Fusce non eros quis enim pulvinar cursus vitae eget quam. Nam posuere pharetra venenatis.</p>
                </div>
            </div><!-- /.personnel -->
        </div><!-- /.col-md-6 -->
        <div class="col-md-6 col-sm-6">
            <div class="discography wow animated fadeIn" data-wow-delay="0.4s">
                <div class="title">
                    <h3>
                        Discography <br />
                        <span class="bold orange">Of Our Music</span>
                    </h3>
                </div>
                <div class="content">
                    <!-- Jplayer Playlist Layout Begin -->
                    <div id="jquery_jplayer_2" class="jp-jplayer"></div>
                    <div id="jp_container_2" class="jp-audio" role="application" aria-label="media player">
                        <div class="jp-type-playlist">
                            <div class="jp-gui jp-interface">
                                <div class="jp-volume-controls">
                                    <button class="jp-mute" role="button" tabindex="0">mute</button>
                                    <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                    <div class="jp-volume-bar">
                                        <div class="jp-volume-bar-value"></div>
                                    </div>
                                </div>
                                <div class="jp-controls-holder">
                                    <div class="jp-controls">
                                        <button class="jp-previous" role="button" tabindex="0">previous</button>
                                        <button class="jp-play" role="button" tabindex="0">play</button>
                                        <button class="jp-stop" role="button" tabindex="0">stop</button>
                                        <button class="jp-next" role="button" tabindex="0">next</button>
                                    </div>
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                            <div class="jp-play-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp-playlist">
                                <ul>
                                    <li>&nbsp;</li>
                                </ul>
                            </div>
                            <div class="jp-no-solution">
                                <span>Update Required</span>
                                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                            </div>
                        </div><!-- /.jp-type-playlist -->
                    </div><!-- /.jp-audio -->
                    <!-- Jplayer Playlist Layout End -->
                </div><!-- /.content -->
            </div><!-- /.discography -->
        </div><!-- /.col-md-6 -->
    </div><!-- /.container -->
</section><!-- /.schedule -->
<!-- About End -->
<!-- Gallery Begin-->
<section class="gallery">
    <div class="overlay"></div>
    <div class="container content">
        <div class="title wow animated fadeInDown"><h2>Latest Photos</h2></div>
        <div class="diamond-grid">
            <div class="diamond-wrap wow animated fadeIn" data-wow-delay="0.2s">
                <div class="shape photo" style="background: url(../Content/JukeBox/images/front-gallery1.jpg);">
                    <a class="fancybox" href="/Content/JukeBox/images/front-gallery1.jpg" data-fancybox-group="front-gallery">
                        <div class="overlay-black"></div>
                        <div class="overlay">
                            <div class="text"><span>View Photo</span></div>
                        </div>
                    </a>
                </div>
            </div><!-- /.diamond-wrap -->
            <div class="diamond-wrap wow animated fadeIn" data-wow-delay="0.4s">
                <div class="shape photo" style="background: url(../Content/JukeBox/images/front-gallery2.jpg);">
                    <a class="fancybox" href="/Content/JukeBox/images/front-gallery2.jpg" data-fancybox-group="front-gallery">
                        <div class="overlay-black"></div>
                        <div class="overlay">
                            <div class="text"><span>View Photo</span></div>
                        </div>
                    </a>
                </div>
            </div><!-- /.diamond-wrap -->
            <div class="diamond-wrap wow animated fadeIn" data-wow-delay="0.6s">
                <div class="shape photo" style="background: url(../Content/JukeBox/images/front-gallery3.jpg);">
                    <a class="fancybox" href="/Content/JukeBox/images/front-gallery3.jpg" data-fancybox-group="front-gallery">
                        <div class="overlay-black"></div>
                        <div class="overlay">
                            <div class="text"><span>View Photo</span></div>
                        </div>
                    </a>
                </div>
            </div><!-- /.diamond-wrap -->
            <div class="diamond-wrap wow animated fadeIn" data-wow-delay="0.7s">
                <div class="shape photo" style="background: url(../Content/JukeBox/images/front-gallery4.jpg);">
                    
                    <a class="fancybox" href="/Content/JukeBox/images/front-gallery4.jpg" data-fancybox-group="front-gallery">
                        <div class="overlay-black"></div>
                        <div class="overlay">
                            <div class="text"><span>View Photo</span></div>
                        </div>
                    </a>
                </div>
            </div><!-- /.diamond-wrap -->
            <div class="diamond-wrap wow animated fadeIn" data-wow-delay="0.8s">
                <div class="shape photo" style="background: url(../Content/JukeBox/images/front-gallery5.jpg);">
                    <a class="fancybox" href="/Content/JukeBox/images/front-gallery5.jpg" data-fancybox-group="front-gallery">
                        <div class="overlay-black"></div>
                        <div class="overlay">
                            <div class="text"><span>View Photo</span></div>
                        </div>
                    </a>
                </div>
            </div><!-- /.diamond-wrap -->
            <div class="diamond-wrap wow animated fadeIn" data-wow-delay="0.9s">
                <div class="shape photo" style="background: url(../Content/JukeBox/images/front-gallery6.jpg);">
                    <a class="fancybox" href="/Content/JukeBox/images/front-gallery6.jpg" data-fancybox-group="front-gallery">
                        <div class="overlay-black"></div>
                        <div class="overlay">
                            <div class="text"><span>View Photo</span></div>
                        </div>
                    </a>
                </div>
            </div><!-- /.diamond-wrap -->
            <div class="diamond-wrap wow animated fadeIn" data-wow-delay="1s">
                <div class="shape photo" style="background: url(../Content/JukeBox/images/front-gallery7.jpg);">
                    <a class="fancybox" href="/Content/JukeBox/images/front-gallery7.jpg" data-fancybox-group="front-gallery">
                        <div class="overlay-black"></div>
                        <div class="overlay">
                            <div class="text"><span>View Photo</span></div>
                        </div>
                    </a>
                </div>
            </div><!-- /.diamond-wrap -->
        </div><!-- /.diamond-grid -->
        <div class="bottom-text">
            PHOTOS FROM OUR INSTAGRAM | FOLLOW AT Awesomeband
        </div>
    </div><!-- /.container -->
</section><!-- /.gallery -->
<!-- Gallery End-->
<!-- News Begin-->
<section class="news">
    <div class="container">
        <div class="col-md-4 col-sm-4 newsrow wow animated fadeIn" data-wow-delay="0.2s">
            <div class="title">
                <h3>
                    Latest From <br>
                    <span class="bold orange">Our Blog</span>
                </h3>
            </div>
            <div class="frame smart" id="smart2">
                <div class="items">
                    <div class="content">
                        <div class="news-title"><a href="blog-single-2.html"><h4>Tommorow Land Concert Report</h4></a></div>
                        <div class="time">Sun, 2 Dec 2014</div>
                        <div class="image">
                            <img src="~/Content/JukeBox/images/gallery1.jpg" alt="Blog images">
                        </div>
                        <div class="text">
                            Morbi dui dolor, egestas ac elementum in, dignissim eget enim.
                        </div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="news-title"><a href="blog-single-2.html"><h4>Xtreme Moshpit Concert</h4></a></div>
                        <div class="time">Sun, 1 Jun 2014</div>
                        <div class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae lectus ac erat dapibus lobortis.
                        </div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="news-title"><a href="blog-single-2.html"><h4>Hammersonic Concert Cancelled!</h4></a></div>
                        <div class="time">Sun, 2 Sep 2014</div>
                        <div class="text">
                            Proin efficitur mattis sapien et vehicula. Cras congue vitae metus eget molestie.
                        </div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="news-title"><a href="blog-single-2.html"><h4>Great Noise In Bandung Berisik</h4></a></div>
                        <div class="time">Sun, 22 Oct 2014</div>
                        <div class="image">
                            <img src="~/Content/JukeBox/images/gallery2.jpg" alt="Blog images">
                        </div>
                        <div class="text">
                            Fusce non eros quis enim pulvinar cursus vitae eget quam. Nam posuere pharetra venenatis.
                        </div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="news-title"><a href="blog-single-2.html"><h4>How To Play Guitar Quickly</h4></a></div>
                        <div class="time">Sun, 25 Oct 2014</div>
                        <div class="text">
                            Etiam diam leo, congue id mauris vel, eleifend posuere sem. Fusce vitae eros vel libero tristique accumsan vel a neque.
                        </div>
                    </div><!-- /.content -->
                </div><!-- /.items -->
            </div><!-- /.frame -->
            <div class="controls center">
                <p>
                    <button class="btn prev"><i class="fa fa-chevron-up"></i></button>
                    <button class="btn next"><i class="fa fa-chevron-down"></i></button>
                </p>
            </div><!-- /.controls -->
        </div><!-- /.newsrow -->
        <div class="col-md-4 col-sm-4 newsrow wow animated fadeIn" data-wow-delay="0.4s">
            <div class="title">
                <h3>
                    Latest From<br>
                    <span class="bold orange">Blog Comments</span>
                </h3>
            </div>
            <div class="frame smart" id="smart">
                <div class="items">
                    <div class="content">
                        <div class="text">
                            Etiam diam leo, congue id mauris vel, eleifend posuere sem. Fusce vitae eros vel libero tristique accumsan vel a neque.
                        </div>
                        <div class="name">- Johny Doe</div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="text">
                            Nunc porta augue ut dolor faucibus tempus. Fusce non eros quis enim pulvinar cursus vitae eget quam.
                        </div>
                        <div class="name">- Doddy Doe</div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="text">
                            Etiam diam leo, congue id mauris vel, eleifend posuere sem. Fusce vitae eros vel libero tristique accumsan vel a neque.
                        </div>
                        <div class="name">- Steve Austin</div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="text">
                            Suspendisse et enim non urna luctus euismod sollicitudin vitae purus.
                        </div>
                        <div class="name">- John Cena</div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="text">
                            Nullam mattis tortor lacus, nec auctor ligula vulputate eget. Quisque tempus mauris nisl, et feugiat purus rhoncus sit amet.
                        </div>
                        <div class="name">- Arian Seringai</div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="text">
                            Sed non egestas dui, eget mattis arcu. Cras eu lacinia magna. Fusce eleifend mi mauris, nec scelerisque est sollicitudin at.
                        </div>
                        <div class="name">- Alex Darby</div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu porta elit.
                        </div>
                        <div class="name">- Johny Scully</div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="text">
                            Maecenas est neque, cursus et finibus quis, ornare in velit. Donec vel elit convallis, condimentum velit.
                        </div>
                        <div class="name">- Diego Perez</div>
                    </div><!-- /.content -->
                </div><!-- /.items -->
            </div><!-- /.frame -->
            <div class="controls center">
                <p>
                    <button class="btn prev"><i class="fa fa-chevron-up"></i></button>
                    <button class="btn next"><i class="fa fa-chevron-down"></i></button>
                </p>
            </div><!-- /.controls -->
        </div><!-- /.newsrow -->
        <div class="col-md-4 col-sm-4 newsrow wow animated fadeIn" data-wow-delay="0.6s">
            <div class="title">
                <h3>
                    Latest From <br>
                    <span class="bold orange">Our Twitter</span>
                </h3>
            </div><!-- /.title -->
            <div class="frame smart" id="smart3">
                <div class="items">
                    <div class="content">
                        <div class="avatar">
                            <a href="#"><img src="~/Content/JukeBox/images/avatar.png" alt="Twitter Avatar"></a>
                        </div>
                        <div class="text tweet">
                            Maecenas est neque, cursus et finibus quis, ornare in velit. Donec .
                        </div>
                        <div class="tweet-time"><a href="#">23 Days Ago</a></div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="avatar">
                            <a href="#"><img src="~/Content/JukeBox/images/avatar.png" alt="Twitter Avatar"></a>
                        </div>
                        <div class="text tweet">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu porta elit. <a href="http://t.co/dr1kk6bmmI">http://t.co/dr1kk6bmmI</a>
                        </div>
                        <div class="tweet-time"><a href="#">23 Days Ago</a></div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="avatar">
                            <a href="#"><img src="~/Content/JukeBox/images/avatar.png" alt="Twitter Avatar"></a>
                        </div>
                        <div class="text tweet">
                            Sed non egestas dui, eget mattis arcu. Cras eu lacinia magna. Fusce eleifend mi mauris.
                        </div>
                        <div class="tweet-time"><a href="#">23 Days Ago</a></div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="avatar">
                            <a href="#"><img src="~/Content/JukeBox/images/avatar.png" alt="Twitter Avatar"></a>
                        </div>
                        <div class="text tweet">
                            Proin efficitur mattis sapien et vehicula. Cras congue vitae metus eget molestie. <a href="http://t.co/CBdTJNBbpA">http://t.co/CBdTJNBbpA</a>
                        </div>
                        <div class="tweet-time"><a href="#">23 Days Ago</a></div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="avatar">
                            <a href="#"><img src="~/Content/JukeBox/images/avatar.png" alt="Twitter Avatar"></a>
                        </div>
                        <div class="text tweet">
                            Nullam mattis tortor lacus, nec auctor ligula vulputate eget. Quisque tempus mauris nisl.
                        </div>
                        <div class="tweet-time"><a href="#">23 Days Ago</a></div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="avatar">
                            <a href="#"><img src="~/Content/JukeBox/images/avatar.png" alt="Twitter Avatar"></a>
                        </div>
                        <div class="text tweet">
                            Etiam diam leo, congue id mauris vel, eleifend posuere sem. Fusce vitae eros vel.
                        </div>
                        <div class="tweet-time"><a href="#">23 Days Ago</a></div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="avatar">
                            <a href="#"><img src="~/Content/JukeBox/images/avatar.png" alt="Twitter Avatar"></a>
                        </div>
                        <div class="text tweet">
                            Nunc porta augue ut dolor faucibus tempus. Fusce non eros quis enim pulvinar <a href="http://t.co/Tu3rWp2saL">http://t.co/Tu3rWp2saL</a>
                        </div>
                        <div class="tweet-time"><a href="#">23 Days Ago</a></div>
                    </div><!-- /.content -->
                    <div class="content">
                        <div class="avatar">
                            <a href="#"><img src="~/Content/JukeBox/images/avatar.png" alt="Twitter Avatar"></a>
                        </div>
                        <div class="text tweet">
                            congue id mauris vel, eleifend posuere sem. Fusce vitae eros vel libero tristique.
                        </div>
                        <div class="tweet-time"><a href="#">23 Days Ago</a></div>
                    </div><!-- /.content -->
                </div><!-- /.items -->
            </div><!-- /.frame -->
            <div class="controls center">
                <p>
                    <button class="btn prev"><i class="fa fa-chevron-up"></i></button>
                    <button class="btn next"><i class="fa fa-chevron-down"></i></button>
                </p>
            </div><!-- /.controls -->
        </div><!-- /.newsrow -->
    </div><!-- /.container -->
</section><!-- /.news -->
<!-- News End-->